@if (pokemon() === null) {
<section class="flex flex-col justify-center">
  <div class="flex justify-center">
    <h1 class="text-4xl font-bold capitalize my-5">Loading...</h1>
  </div>
</section>
}
<!--else-->
@else {
<!-- let sintax -->
@let myPokemon = pokemon()!;
<section class="flex flex-col justify-center">
  <div class="flex justify-center">
    <h1 class="text-4xl font-bold capitalize my-5">{{ myPokemon.name }}</h1>
  </div>
</section>
<section class="flex flex-col justify-center items-center w-full">
  <img
    [srcset]="myPokemon.imageUrl"
    [alt]="myPokemon.name"
    class="w-64 h-64"
    width="256px"
    height="256px"
  />
  @if(myPokemon.cries !== null) {
  <audio
    controls
    class="mt-4 my-10"
  >
    <source
      [src]="myPokemon.cries"
      type="audio/mpeg"
    />
    Your browser does not support the audio element.
  </audio>
  }
</section>
<section class="flex flex-col justify-center">
    <h2 class="text-2xl font-bold mt-2">Abilities</h2>
    <div class="flex flex-wrap items-center">
        @for (ability of myPokemon.abilities; track $index) {
            <span class="mx-2">
                {{ability}}
            </span>
        }
    </div>
</section>
}
