<nav
  class="top-0 absolute z-50 w-full flex justify-end gap-4 px-2 py-3 bg-slate-900 shadow-md text-white"
>
  <a routerLink="/pokemons/page/1" routerLinkActive="text-rose-500" class="hover:text-slate-300"
    >Pokemons</a
  >
  <a routerLink="/about" routerLinkActive="text-rose-500" class="hover:text-slate-300">About</a>
  <a routerLink="/pricing" routerLinkActive="text-rose-500" class="hover:text-slate-300">Pricing</a>
  <a routerLink="/contact" routerLinkActive="text-rose-500" class="hover:text-slate-300">Contact</a>
</nav>
